

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { padding-top: 50px; }

.anchor-point {
	padding-top : 60px;
}

.validation-record {
	border-bottom : 1px solid #ccc; 
	margin-bottom : 2em; 
	padding-bottom : 2em
}

.validation-errors ul.validation-full-record {
	border : 1px solid #DDDDDD; 
	background-color : #F9F9F9; 
	margin-bottom : 2em; 
	padding : 1em;
}

.validation-errors ul.validation-full-record li {
	margin : .5em 1em;
}



.validation-source pre code {
	white-space : pre;
}

.form-striped .form-group {
padding : 1em 0;
}

.form-striped .form-group:nth-child(odd) {
background-color : #f9f9f9;
}

.navbar-inverse .btn-inverse {
    color : #fff;
background-image: linear-gradient(to bottom, #3C3C3C 0px, #141414 100%);    
}

.hidden-row {
    padding: 0 !important;
    border : 0 !important;
}

.edit-toggle, 
.add-padding {
	padding : 1em;
}

.note-heading {
	padding : 0 .5em;
}

.edit-toggle textarea,
.edit-toggle div {
	margin : 1em 0;
}

.panel {
	margin-bottom : 6em;
}


.form-flash {
	padding : 1em;
	margin-top : 1em;
}

.footer .container {
	margin : 1em auto !important;
}

.dashboard-heading th.tilt {
	height : 120px;
	vertical-align: bottom;
	padding-bottom : 50px;
}

.dashboard-heading th.tilt div {
	
-webkit-transform: rotate(-70deg);
-o-transform: rotate(-70deg);
transform: rotate(-70deg);

}


.note-metadata {
	font-style: italic;
	color : #ccc;
}

.dashboard .metrics-row td {
	padding : 0;
}

.dashboard .metrics-row td a {
	padding : 1em;
	display : inline-block;
	width : 100%;
	text-align: center;
}

.dashboard .metrics-row td.content-metric a {
	color : #000;
}

.dashboard .metrics-row td.content-metric.warning a i {
	color : yellow;
}

.dashboard .metrics-row td.content-metric.success a i {
	color : #3C763D;
}

.dashboard .metrics-row td.content-metric.danger a i {
	color : #A94442;
}




.dashboard .metrics-row td.boolean-metric a span {
	display : inline-block;
	text-indent : -9999em;
	overflow : hidden;
	width : 2em;
	text-align: center;
}


.dashboard .metrics-row td.boolean-metric a:hover span {
text-indent : 0;
}

.dashboard .metrics-row td a:hover {
text-decoration: none;
}


.general-notes {
	border : 1px solid #F0F0F0;
	margin : 3em 0;
}

form .tracker-content .table-striped > tbody > tr > td, 
form .tracker-content .table-striped > tbody > tr > th {
	background-color: #fff !important;
}

form .tracker-content .table-striped > tbody > tr:nth-child(4n+1) > td, 
form .tracker-content .table-striped > tbody > tr:nth-child(4n+1) > th {
    background-color: #F9F9F9 !important;
}

.tab-content {
	margin : 1em 0;
}

form .tracker-sections.nav-tabs {
	height : 41px;	
}

.tracker-sections {
	margin-top : 2em;
}

.tracker-content {
	margin : 3em 0 6em 0;
}

.milestone-selector {
	margin-top : 2em;
}
