*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
csv/*
application/config/config.php
application/config/gearman.php

.htaccess
.DS_Store

application/config/database.php
downloads/*

archive/error_log/*
archive/datajson/201*
archive/digitalstrategy/201*
archive/datajson-lines/*
archive/curl_header

application/config/upload.php

/index.php

composer.phar
vendor

# Intellij
.idea