*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
csv/*
application/config/config.php

.htaccess

application/config/database.php
downloads/*

archive/error_log/*
archive/datajson/201*
archive/digitalstrategy/201*

application/config/upload.php

index.php
