# I recommend you remove `IfModule`. Because if you need mod_rewrite,
# you don't need `IfModule`. If you don't need it, you don't need this file
# at all.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ index.php [L]
RewriteCond $1 !^(index\.php|img|css|js|fonts|schema|archive|digital-strategy|video_files|robots\.txt|favicon\.ico)
RewriteRule ^(.*)$ index.php/$1 [L]
# php_value upload_max_filesize 70M
# php_value post_max_size 70M
</IfModule>
